name: Update nightly-testing

on:
  schedule:
    - cron: '0 9 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: checkout
        uses: actions/checkout@v6
        with:
          ref: nightly-testing
          token: ${{ secrets.UNICODE_BASIC_TOKEN }}

      - name: install jq
        uses: dcarbone/install-jq-action@v3


      - name: set user
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor_id}}+${{ github.actor }}@users.noreply.github.com"

      - name: rebase main
        run: |
          git fetch origin
          git rebase origin/main -Xtheirs

      - name: update lean-toolchain
        id: toolchain-tag
        run: |
          LEAN_TAG=$(curl -s "https://api.github.com/repos/leanprover/lean4-nightly/releases" | jq -r '.[0].tag_name')
          echo "lean_tag=$LEAN_TAG" >> $GITHUB_OUTPUT
          echo "leanprover/lean4:$LEAN_TAG" > lean-toolchain
          git add lean-toolchain

      - name: commit and push
        run: |
          git commit -m "chore: update toolchain ${{ steps.toolchain-tag.outputs.lean_tag }}"
          git push --force origin nightly-testing
